DATABASE_URL=postgresql://postgres.anagzsxaqxziqzruadll:F%2F-siRYyU-t.c4z@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
SECRET_KEY=xK9#mP2$vL8@nQ5&jR3!wT7*bY4^cF6%hN1zD0sA

CLOUDINARY_CLOUD_NAME=dsn3ubhdq
CLOUDINARY_API_KEY=674323722557894
CLOUDINARY_API_SECRET=L7RywDxb4qqihAdiuCSoXd5ilB4

WHATSAPP_NUMBER=+254745280945